{% extends 'base.html.twig' %}

{% block content %}
<div class="album py-5 bg-light">
<div class="container">
    <h1>Success</h1>
    <p>Stripe test payment was successfull!</p>
</div>
</div>
{% endblock %}
