<!DOCTYPE html>
<html>
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <title>{% block title %}Symfony 5 + Stripe Demo{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
        .card-text {
            min-height: 48px;
        }
        footer {
            padding-top: 3rem;
            padding-bottom: 3rem;
        }
        footer p {
            margin-bottom: .25rem;
        }
    </style>
    {% block stylesheets %}{% endblock %}
    {% block headjs %}{% endblock %}
</head>
<body>
    <header>
    <div class="bg-dark collapse" id="navbarHeader" style="">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Symfony 5 + Stripe Demo</h4>
                    <p class="text-muted">
                        This website shows some products and allows to add them to a shopping cart.
                        The users can checkout to buy the products in their carts.
                        The checkout uses Stripe API to fullfill the payment (using a Sandbox environment).
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Test Credit Card</h4>
                    <div class="text-muted">
                        <div>Credit Card: 4242 4242 4242 4242</div>
                        <div>CVC: Any 3 numbers</div>
                        <div>Expiration Date: Any future date</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <strong>Stripe Demo</strong>
        </a>
        <div>
            <a href="/cart" class="btn btn-primary">Cart</a>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        </div>
    </div>
    </header>

    <main role="main">
    {% block content %}{% endblock %}
    </main>

    <footer class="text-muted">
    <div class="container">
        <p class="float-right">
        <a href="#">Back to top</a>
        </p>
        <p>Stripe integration sample using Symfony 5.</p>
    </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="/build/runtime.js"></script>
    <script src="/build/vendors~app.js"></script>
    <script src="/build/app.js"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
